# IntelliJ
*.iml
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml

# Gradle
.gradle
/build

# Android Studio captures folder
/captures

# Android Studio Navigation editor temp files
.externalNativeBuild

.DS_Store
